/*
jtdesignsolutions-Card Layout
* @author Marie Vigil <marie@jtdesignsolutions>
*/


/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */
/*   00 -                     */
/*   01 -               */
/*   02 -     */
/*   03 -        */
/*   04 -    */
/*   05 -              */
/*   06 -                      */




body {
	background-color: white;
}

.masthead {
	background-color: hsl(50, 50%, 90%);
	display: block;
	height: 180px;
}

.masthead a {
	color: white;
	text-decoration: none;
}

.masthead a:hover {
	text-decoration: none;
}

.centered {
	margin: 0 auto;
	padding: 0 1em;
}

.thumbnail {
	display: block;
	width: 100%;
	height: auto;
	border: none !important;
	margin-top: 0px;
	margin-bottom: 0px;
}


p {
	margin-bottom: 1.5em;
}

main,
section,
article,
figure {
	display: block;
}


/* Start Card Classes */

.card {
	background-color: whitesmoke;
	margin-bottom: 5em;
	height: auto;
}

.card a {
	color: black;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
	padding: 1.4em;
}

.card-content p {
	margin-top: 0;
	font-weight: normal;
	margin-bottom: 5em;
}

.card-content p {
	font-size: 95%;
}

.card > img {
	border: none !important;
}

/* End Card Classes */


.bottom-line {
	height: 30px;
	background-color: #1990ab;
	margin-top: 15px;
}

/* Footer */

.footer-area {
	width: auto;
	height: 175px;
	background:  #2b2b2b;
	background-size: cover;
	display: block;
	padding: 40px;
}

.footer-links {
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: #ebebeb;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 18px;
	margin-bottom: 0;
}

.footer-links-list li {
	list-style-type: none;
}

.footer-links a {
	text-decoration: none;
}

.social-media {
	display: block;
}

.social-media-list li {
	list-style-type: none;
}

.social-media a {
	text-decoration: none;
}

/* START Flexbox Card layout */


.main {
	display: flex;
	flex: 0 1 calc(50% - .5em);
}


.card {
	display: flex;
	flex: 0 1 calc(50% - .5em);
	margin-bottom: 1em;
	}

/* END Flexbox Card layout */


/* Media Screens */

@media screen and (min-width: 52em) {
	.centered {
		max-width: 52em;
	}
}

@media screen and (min-width: 44.44em) {
	.site-title {
		font-size: 2em;
	}
}

@media screen and (min-width: 50em) {
	.site-title {
		font-size: 2.5em;
	}
}

@media screen and (min-width: 40em) {
	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: -1em;
	}
}

@media screen and (min-width: 60em) {
	.cards {
		margin-top: inherit;
	}

	.card {
		flex: 0 1 calc(33% - 1em);
		margin-bottom: 2em;
	}
}