/*
jtdesignsolutions-Card Layout
* @author Marie Vigil <marie@jtdesignsolutions>
*/


/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */
/*   00 -                     */
/*   01 -               */
/*   02 -     */
/*   03 -        */
/*   04 -    */
/*   05 -              */
/*   06 -                      */




body {
	background: hsl(0, 0%, 90%);
}

.masthead {
	background: hsl(0, 0%, 20%);
}

.branding image {

}

.site-title {
	color: white;
}

.card {
	background: white;
	margin-bottom: 2em;
}

.card a {
	color: black;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
	padding: 1.4em;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: normal;
}

.card-content p {
	font-size: 95%;
}