/*
jtdesignsolutions-Card Layout
* @author Marie Vigil <marie@jtdesignsolutions>
*/


/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */
/*   00 -                     */
/*   01 -               */
/*   02 -     */
/*   03 -        */
/*   04 -    */
/*   05 -              */
/*   06 -                      */


.under-constructionA {
	font-family: Roboto, sans-serif;
	color: #454949;
	font-size: 24px;
	letter-spacing: 2px;
	text-align: left;
	text-decoration: none;
	margin-left: 20px;
}


.under-constructionB {
	font-family: 'Raleway', sans-serif;
	color: #6b6e6f;
	font-size: 45px;
	letter-spacing: 2px;
	text-align: left;
	text-decoration: none;
	margin-left: 20px;
}


body {
	background-color: white;
}

/* Base styles */

h1 {
	font-family: 'Raleway', sans-serif;
	color: #454949;
	font-size: 24px;
	letter-spacing: 2px;
	text-align: center;
	text-decoration: none;
}

h2 {
	font-family: 'Raleway', sans-serif;
	color: #6b6e6f;
	font-size: 20px;
	letter-spacing: 2px;
	text-align: center;
	text-decoration: none;
}

.full-width-text{
	margin-bottom: 30px;
}

.white-space {
	margin-bottom: 60px;
}

.post-content img {
	width: auto;
	height: auto;
}

.main-menu {
	width: auto;
	height: 20px;
	color: white;
	background-color: lightgray;
}

.post-content {
	padding: 0 1.4em 1.4em;
}

.sidebar {
	padding: .5em 1.4em 3em;
	width: auto;
	height: auto;
	background: white;
}

.example-menu {
	padding-bottom: 1em;
}

.example-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.example-menu1 a {
	display: block;
	padding: .4em 0;
	color: #f7751f;
/**	transition: all 0.2s ease;**/
}

.example-menu2 a {
	display: block;
	padding: .4em 0;
	color: #1990ab;
	/**	transition: all 0.2s ease;**/
}

.example-menu3 a {
	display: block;
	padding: .4em 0;
	color: #527e38;
	/**	transition: all 0.2s ease;**/
}

.example-menu1 a:hover,
.example-menu a:focus {
	padding: .4em 1em;
	background: #f7751f;
	text-decoration: none;
	color: white;
}

.example-menu2 a:hover,
.example-menu a:focus {
	padding: .4em 1em;
	background: #1990ab;
	text-decoration: none;
	color: white;
}

.example-menu3 a:hover,
.example-menu a:focus {
	padding: .4em 1em;
	background: #527e38;
	text-decoration: none;
	color: white;
}

.bootstrap-iso h2,
.bootstrap-iso form{
	font-family: 'Raleway', sans-serif;
	color: black;
}

.form {
	border: solid lightgrey;
	border-width: thin;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
	margin-left: -20px;
}

.form-group h2 {
	font-family: 'Raleway', sans-serif;
	color: #1990ab;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	text-decoration: none;
}

.bootstrap-iso p {
	text-align: center;
	color: #1990ab;
	width: 284px;
	height: 748px;
	border: solid lightgrey;
	border-width: thin;
	padding-top: 375px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
	margin-left: -20px;
}

.bootstrap-iso form button, .bootstrap-iso form button:hover {
	color: white !important;
}


/* Sidebar switcher buttons */

@media screen and (max-width: 50em) {
	/* Hide switcher on small screens */
	.sidebar-switcher {
		display: none;
	}
}

@media screen and (min-width: 50em) {

	.sidebar-switcher {
		position: absolute;
		right: 0;
		padding: .4em 1em;
		color: hsl(0, 0%, 40%);
	}

	.sidebar-switcher a {
		color: hsl(0, 0%, 40%);
		padding-left: .4em;
	}

	.sidebar-switcher a:hover,
	.sidebar-switcher a:focus {
		color: hsl(0, 0%, 20%);
	}
}

/* Flexbox stuff */

@media screen and (min-width: 50em) {

	.outer-wrap {
		display: flex;
		flex-direction: column;
	}

	.content {
		display: flex;
	}

	.main-area {
		flex: 1 1 auto;
		order: 1;
	}

	.post-content {
		max-width: 40em;
		margin: 0 auto;
	}

	.sidebar {
		flex: 0 0 12em;
		order: 2;
		transition: padding .5s ease, flex .5s ease, color .2s ease-in .3s;
	}

	.sidebar-left {
		order: 0;
	}

	.no-sidebar {
		flex-direction: column;
	}

	.hide {
		flex: 0 0 0;
		padding: 0;
		color: hsla(0, 0%, 0%, 0);
		transition: color .2s ease, flex .5s ease .3s, padding .5s ease .3s;
	}

	.hide a {
		color: hsla(0, 0%, 0%, 0);
	}

}

/* Sidebar switcher buttons */

@media screen and (max-width: 50em) {
	/* Hide switcher on small screens */
	.sidebar-switcher {
		display: none;
	}
}

.bottom-line {
	height: 30px;
	background-color: #1990ab;
	margin-top: 15px;
}

.top-line {
	height: 30px;
	background-color: #1990ab;
}

.footer-area {
	width: auto;
	height: 30px;
	padding: .4em 1em;
	text-align: center;
	background: #454949;
}

.footer-toggle {

}

/* @media stuff */

@media screen and (min-width: 50em) {

	.outer-wrap {
		display: flex;
		flex-direction: column;
	}

	.content {
		display: flex;
	}

	.main-area {
		flex: 1 1 auto;
		order: 1;
	}

	.post-content {
		max-width: 40em;
		margin: 0 auto;
	}

	.sidebar {
		flex: 0 0 12em;
		order: 2;
		transition: padding .5s ease, flex .5s ease, color .2s ease-in .3s;
	}

	.sidebar-left {
		order: 0;
	}


	.hide {
		flex: 0 0 0;
		padding: 0;
		color: hsla(0, 0%, 0%, 0);
		transition: color .2s ease, flex .5s ease .3s, padding .5s ease .3s;
	}

	.hide a {
		color: hsla(0, 0%, 0%, 0);
	}

}