@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);


/***** Body Background *****/

.body-background-color {
  background-color: none;
}


/***** Page Wrap 

#wrapper {
	background-color: none;
}
*****/

/***** Top Navigation *****/

.nav a {
  font-family: 'Questrial', sans-serif;
  font-size: 22px;
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  margin-top: 10px
}

header  .nav .navbar-nav > li > a {
  padding-bottom: 6px;
  padding-top: 5px;
  margin-left: 2px;
  line-height: 30px;
  font-weight: 700;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.navbar-brand {
  padding: 0;
  margin:0;
}


.navbar {
  height: 90px;
  margin-bottom:60px;
  background-color: #152f44;
  padding: 15px 0;
  padding-bottom: 0;
}

.navbar .navbar-nav {
  background-color: #152f44;
}

.navbar-nav{
  margin-top: 0;
}

.navbar-nav>li{
  margin-left: 0;
  padding-bottom: 10px;
}

.navbar .navbar-nav > li > a {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 18px;
  padding: 19px 19px 19px 19px;
  margin: 0;
  color: white;
  line-height: 24px;
  display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover{
  background-color:#dad8d8;
  color: #46bd00;
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #31407e;
  color: #fff;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.navbar-inverse .navbar-nav:before{
  position: absolute;
  top:0;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 8px 15px;
  color: #fff;
}

.navbar-inverse .navbar-nav > li:hover > a,
.navbar-inverse .navbar-nav > li:focus > a {
  background-color: #dad8d8;
  color: #46bd00;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.nav .navbar-nav > li.active > a {
  background-color: #31407e;
  color: white;
}


.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}

.navbar-inverse .navbar-header {
}


/***** Logo *****/

.logo {
  width: auto;
  height:72px;
  background-color: none;
  margin-top: 0px;
}

/***** Top Line *****/

.top-line {
  width: auto;
  height: 20px;
  background-color: #46bd00;
  margin-bottom: 30px;
}

.white-space {
  margin-bottom: 20px;
}


/***** Side Navigation *****/


.example-menu {
  font-family: 'Questrial', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  padding-bottom: 1em;
  margin-right: 80px;
}

.example-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.example-menu1 a {
  display: block;
  padding: .4em 0;
  color: #0088cc;
  /** transition: all 0.2s ease;**/
}

.example-menu2 a {
  display: block;
  padding: .4em 0;
  color: #c909a5;
	/**	transition: all 0.2s ease;**/
}

.example-menu3 a {
  display: block;
  padding: .4em 0;
  color: #f28814;
	/**	transition: all 0.2s ease;**/
  margin-bottom: 150px;
}

.example-menu1 a:hover,
.example-menu a:focus {
  padding: .4em 1em;
  background-color: #0088cc;
  text-decoration: none;
  color: white;
}

.example-menu2 a:hover,
.example-menu a:focus {
  padding: .4em 1em;
  background-color: #c909a5;
  text-decoration: none;
  color: white;
}

.example-menu3 a:hover,
.example-menu a:focus {
  padding: .4em 1em;
  background-color: #f28814;
  text-decoration: none;
  color: white;
}


/***** Inner-Headline *****/

#inner-headline{
  background-color:#2C2420;
  position:relative;
  margin:0;
  padding:0;
}


/***** Typography *****/


body {
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #4e4e4e;
}

p {
  letter-spacing: 2px;
}

h4,
h5,
h6 {
  font-family: 'Questrial', sans-serif;
  font-weight: 600;
  color:#4e4e4e;
}

h1{
  font-family: 'Lekton', sans-serif;
  font-size: 65px;
  font-weight: 600;
  color: #4e4e4e;
  text-align: center;
}

h2{
  font-family: 'Lekton', sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: #4e4e4e;
  text-align: left;
}

h3{/** used for inside prettyPhoto recent-work over-lay of text on image **/
  font-family: 'Questrial', sans-serif;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
}


h4{
  font-size: 16px;
}

.center h2 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 5px;
}

.center {
  text-align: center;
  padding-bottom: 55px;
}

#contact-page .center h3 {
  font-size: 40px;
  color: #78a4b8;
  margin-top: 0;
  margin-bottom: 5px;
}

.post-content {
    margin-bottom: 90px
}

.preview {
  font-family: 'Questrial', sans-serif;
  font-size: 21px;
  color: white;
  letter-spacing: 2px;
}

.lead{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.paragraph {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
}

a {
  color: white;
  letter-spacing: 2px;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #46bd00;
}

.testimonial  h2 {
  font-family: 'Lekton', sans-serif;
  font-size: 45px;
  color: #4e4e4e;
  margin-top: 0;
  margin-bottom: 5px;
}

.testimonial-inner {
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #4e4e4e;
  margin-bottom: 60px; 
}

.white-space {
  margin-bottom: 15px;
}

/**
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
**/

.btn-primary {
  padding: 8px 20px;
  background-color: #31407e;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
  margin-right: 20px;
}

.btn-primary:hover, 
.btn-primary:focus{
  background-color: #46bd00;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background-color: transparent;
  color: #fff;
}

/**
.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}**/

a:hover,
a:focus {
  color: white;
  text-decoration: none;
  outline: none;
}


.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}


/** 
.transparent-bg {
  background-color: transparent !important;
  margin-bottom: 0;
} 
**/


/***** Our Story *****/


#location-info{
  background-color: #fff url(../images/?????.png) no-repeat 90% 0;
  padding: 30px 0;
}

.location-info i{
  width: 80px;
  height: 80px;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  background-color: #000;
  text-align: center;
  border-radius: 10px;
}

.picture-area h3 {
  font-size: 50px;
  color:  #4e4e4e;
  margin-top: 0;
  margin-bottom: 20px;
}

.banner-image {
  width: auto;
  height: 360px;
  margin-bottom: 80px;
}



/***** Home *****/

.masthead {
 background-color: hsl(50, 50%, 90%);
 display: block;
 width: auto;
 height: 180px;
 margin-bottom: 60px;
}

.home-logo {
 width: 600px;
 height:auto;
 background-color: none;
 margin-bottom: 60px;
}

.card-page {
 margin-bottom: 150px;
}

.whitecard {
 background-color: $fff;
}


.col-sm-4 .column-image {
  width: auto;
  height: auto;
  border: 3px;
  border-color: $fff;
  margin: 0px;
  clear: both;
}

.card-one {

}

.heading-one h2 {
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  padding: 15px;
}

.heading-one{
  background-color: #0088cc;
}

.heading-one a:hover {
  color: #46bd00;
}

.card-one-line {
width: auto;
height: 4px;
background-color: #0088cc;
}

.card-two {

}

.heading-two h2 {
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  padding: 15px;
}

.heading-two{
  background-color: #c909a5;
}

.heading-two a:hover {
  color: #46bd00;
}

.card-two-line {
width: auto;
height: 4px;
background-color: #c909a5;
}

.card-three {

}

.heading-three h2 {
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  padding: 15px;
}

.heading-three{
  background-color: #f28814;
}

.heading-three a:hover {
  color: #46bd00;
}

.card-three-line {
width: auto;
height: 4px;
background-color: #f28814;
}

.description > li {
  text-align: left;
}

.card-area ul li {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  list-style: none;
  padding: 15px 0;
}

.card-area ul {
  background-color:#FAFAFA;
  margin: 0;
  padding: 0;
}

.card-area ul li:nth-child(even){
  background-color:#f5f5f5
}

.card-area .plan-action {
  position: relative;
  color: #fff;
  margin-top: 5px;
  padding:5px 20px;
}



/***** Start Portfolio *****/


#portfolio_page {
  margin-top: 115px;
  padding-bottom: 0;
}

.portfolio-items, 
.portfolio-filter {
  list-style: none outside none;
  margin: 0 0 40px 0;
  padding: 0;
}

.portfolio-filter > li {
  display: inline-block;
}

.portfolio-filter > li a {
  background-color: none repeat scroll 0 0 #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  border: 1px solid #F2F2F2;
  outline: none;
  border-radius: 3px;
}

.portfolio-filter > li a:hover,
.portfolio-filter > li a.active{
  color:#fff;
  background-color: #31407e;
  border: 1px solid #31407e;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-item {
  margin: 0;
  padding:0;
}


#recent-works .col-xs-12.col-sm-4.col-md-3{
  padding: 0;
}

#recent-works{
    padding-bottom: 70px;
}

.recent-work-wrap {
  position: relative;
}

.recent-work-wrap img{
  width: 100%;
}

.recent-work-wrap .recent-work-inner {
  top: 0;
  background-color: transparent;
  opacity: .8;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.recent-work-wrap .recent-work-inner h3 {
  margin: 10px 0;
}

.recent-work-wrap .recent-work-inner h3 a {
  font-size: 24px;
  color: #fff;
}

.recent-work-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  background-color: #31407e;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;  
  padding: 30px;
}

.recent-work-wrap .overlay .preview {
  bottom: 0;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  background-color: transparent;
  text-align: center;
  color: #fff;
}

.recent-work-wrap:hover .overlay {
  opacity: 1;
}


/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions for sorting portfolio images by subject-matter ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/***** End Portfolio *****/



/***** Our Story *****/

.picture-area {
  /** background-color-image: url("???"); **/
  background-color-position: 0 0;
  background-color-repeat: no-repeat;
  background-color-size: cover;
  padding: 70px 0;
}

.picture-area .picture iframe {
  border-radius: 50%;
  height: 280px;
  width: 300px;
}

.picture{
    border: 10px solid #f6f5f0;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.picture-area .photo-content ul {
  list-style: none; 
}

.btn-slide {
  padding: 8px 20px;
  background-color: #31407e;
  color: #fff;
  border-radius: 4px;
  margin-top: 15px;
  display: inline-block;
}



/***** Chat with Us *****/

.status alert .alert-success {
 display: none;
}

#contact-page{
  margin-bottom: 60px;
}

#contact-page .contact-form 
.form-group label {
  color: #2C2420;
  font-size: 24px;
  font-weight: 400;
}

.form-group .form-control {
  padding: 7px 12px;
  border-color:#b1c6cf;
  box-shadow: none;
}

textarea#message{
  resize: none;
  padding: 10px;
}

#contact-page .contact-wrap {
  margin-top: 5px;
}


/***** Bottom-Line *****/

.bottom-line {
	width: auto;
	height: 10px;
	background-color: #46bd00;
	margin-top: 0;
}


/***** Footer *****/

#footer {
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
	background-color: #152f44;
}

#footer a {
	color: #fff;
    text-decoration: none;
}

#footer a:hover {
	color: #46bd00;
}

#footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer ul > li {
	display: inline-block;
	margin-left: 15px;
}


/***** Social Media *****/

.social{
    font-size: 40px;
	text-align: right;
}

ul.social-share li a {
	display: inline-block;
	color: #fff;
	/** background-color: #31407e; **/
	width: 61px;
	height: 61px;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 5px;
	/** border-radius: 2px; **/
}

ul.social-share li a:hover {
	background-color: #fff;
	color: #fff;
}


/***** Email-Address *****/

.email-address {
	text-align: left;
	display: inline-block;
	color: #fff;
	background-color: #404040;
	width: 40px;
	height: 40px;
	line-height: 25px;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 5px;
	border-radius: 2px;
}

.email-address a:hover {
	background-color: #fff;
	color: #fff;
}


/***** 404 Page

#error .btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .btn-success:hover {
  background-color: #EBEBEB;
  border-color: #EBEBEB;
  color: #4E4E4E;
}

#error h1{
  color: #4e4e4e;
  text-transform: uppercase;
}

 *****/



