/** myportfolio.css **/



@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);


/***** Page Wrap *****/

.wrapper {
	background-color: #ffffff;
}

/***** Top Navigation *****/

.navbar {
	margin-top: 30px;
}

.navbar-brand {
	font-size: 24px;
	font-weight: 500;
	line-height: 1em;
	letter-spacing: 1px;
	text-transform: none;
	margin-top: 30px;
	padding: 0 0 0 15px;
}

.nav a {
	color: black;
	text-decoration: none;
}

.nav > li > a:hover {
	font-weight:200;
	color: white;
	background-color: #1990ab;
	text-decoration: none;
}

/***** Logo *****/

.logo{
	width: 450px;
	height: auto;
	margin-top: 80px;
}

/***** Top Banner *****/

.top-line {
	width: auto;
	height: 30px;
	color: white;
	background-color: #152f44;
	margin-bottom: 30px;
}

.white-space {
	margin-bottom: 20px;
}


/***** Side Navigation *****/


.example-menu {
	padding-bottom: 1em;
}

.example-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.example-menu1 a {
	display: block;
	padding: .4em 0;
	color: #f7751f;
	/**	transition: all 0.2s ease;**/
}

.example-menu2 a {
	display: block;
	padding: .4em 0;
	color: #1990ab;
	/**	transition: all 0.2s ease;**/
}

.example-menu3 a {
	display: block;
	padding: .4em 0;
	color: #0FB112;
	/**	transition: all 0.2s ease;**/
}

.example-menu1 a:hover,
.example-menu a:focus {
	padding: .4em 1em;
	background: #F7941E;
	text-decoration: none;
	color: white;
}

.example-menu2 a:hover,
.example-menu a:focus {
	padding: .4em 1em;
	background: #00AEEF;
	text-decoration: none;
	color: white;
}

.example-menu3 a:hover,
.example-menu a:focus {
	padding: .4em 1em;
	background: #2BB673;
	text-decoration: none;
	color: white;
}


/***** General *****/

body {
	background: #f0ece8;
	font-family: "Helvetica 35 Thin",helvetica-35-thin,sans-serif;
	color: #2C2420;
	line-height: 22px;
}

h3,
h4,
h5,
h6 {
	font-family: "Helvetica 35 Thin",helvetica-35-thin,sans-serif;
	font-weight: 600;
	color:#4e4e4e;
}

h1{
	font-family: "source-code-pro","Courier",serif;
	font-size: 36px;
	font-weight: 600;
	color:46bd00;
}

h2{
	font-family: "Helvetica 35 Thin",helvetica-35-thin,sans-serif;
	font-size: 24px;
	font-weight: 600;
	color:46bd00;
}

h3{
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	line-height: 24px;
}

h4{
	font-size: 16px;
}

a {
	color: #1990ab;
	-webkit-transition: color 300ms, background-color 300ms;
	-moz-transition: color 300ms, background-color 300ms;
	-o-transition:  color 300ms, background-color 300ms;
	transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
	color: #1990ab;
}

/**
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
**/

.btn-primary {
	padding: 8px 20px;
	background: #1990ab;
	color: #fff;
	border-radius: 4px;
	border:none;
	margin-top: 10px;
}


.btn-primary:hover,
.btn-primary:focus{
	background: #1990ab;
	outline: none;
	box-shadow: none;
}

.btn-transparent {
	border: 3px solid #fff;
	background: transparent;
	color: #fff;
}

.btn-transparent:hover {
	border-color: rgba(255, 255, 255, 0.5);
}


.center {
	text-align: center;
	padding-bottom: 55px;
}

.lead{
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

/***** Social Media *****/

.social{
	text-align: right;
}

ul.social-share li a {
	display: inline-block;
	color: #fff;
	background: #404040;
	width: 40px;
	height: 40px;
	line-height: 25px;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 5px;
	border-radius: 2px;
}

ul.social-share li a:hover {
	background: #fff;
	color: #fff;
}


/***** Email-Address *****/

.email-address {
	text-align: left;
	display: inline-block;
	color: #fff;
	background: #404040;
	width: 40px;
	height: 40px;
	line-height: 25px;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 5px;
	border-radius: 2px;
}

.email-address a:hover {
	background: #fff;
	color: #fff;
}


/*****
******* Portfolio *******
*****/

#portfolio_page {
	margin-top: 115px;
	padding-bottom: 0;
}

.portfolio-items,
.portfolio-filter {
	list-style: none outside none;
	margin: 0 0 40px 0;
	padding: 0;
}

.portfolio-filter > li {
	display: inline-block;
}

.portfolio-filter > li a {
	background: none repeat scroll 0 0 #FFFFFF;
	font-size: 14px;
	font-weight: 400;
	margin-right: 20px;
	text-transform: uppercase;
	transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	border: 1px solid #F2F2F2;
	outline: none;
	border-radius: 3px;
}

.portfolio-filter > li a:hover,
.portfolio-filter > li a.active{
	color:#fff;
	background: #c52d2f;
	border: 1px solid #c52d2f;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.portfolio-items > li {
	float: left;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.portfolio-item {
	margin: 0;
	padding:0;
}

#recent-works .col-xs-12.col-sm-4.col-md-3{
	padding: 0;
}

#recent-works{
	padding-bottom: 70px;
}

.recent-work-wrap {
	position: relative;
}

.recent-work-wrap img{
	width: 100%;
}

.recent-work-wrap .recent-work-inner{
	top: 0;
	background: transparent;
	opacity: .8;
	width: 100%;
	border-radius: 0;
	margin-bottom: 0;
}

.recent-work-wrap .recent-work-inner h3{
	margin: 10px 0;
}

.recent-work-wrap .recent-work-inner h3 a{
	font-size: 24px;
	color: #fff;
}

.recent-work-wrap .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 0;
	background: #c52d2f;
	color: #fff;
	vertical-align: middle;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
	padding: 30px;
}

.recent-work-wrap .overlay .preview {
	bottom: 0;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	border-radius: 0;
	background: transparent;
	text-align: center;
	color: #fff;
}

.recent-work-wrap:hover .overlay {
	opacity: 1;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}



/***** Pricing Table *****/

.pricing_heading {
	margin-top: 120px
}

.pricing_heading h2,
.pricing_heading p {
	color:#4e4e4e;
}

.pricing-area h1 {
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 15px;
}

.pricing-area span {
	font-weight: 700;
	font-size: 18px;
}

.pricing-area h3,
.pricing-area span  {
	color: #fff;
}

.plan {
	position: relative;
	margin-bottom: 70px;
}

.pricing-area ul {
	background:#FAFAFA;
	padding: 0;
	margin: 0;
}

.pricing-area ul li {
	list-style: none;
	padding: 15px 0;
	font-size: 16px;
	font-weight: 400;
}

.pricing-area ul li:nth-child(even){
	background:#f5f5f5
}

.pricing-area .price-three img,
.pricing-area .price-six img {
	position: absolute;
	right: 15px;
	top: 0;
}

.pricing-area .heading-one,
.pricing-area .heading-two,
.pricing-area .heading-three {
	padding:17px 0;
	border-radius:2px 2px 0 0;
}

.pricing-area .heading-one,
.pricing-area .heading-two,
.pricing-area .heading-three,
.pricing-area .heading-four,
.pricing-area .heading-five,
.pricing-area .heading-six,
.pricing-area .heading-seven {
	margin-left: -10px
}

.pricing-area .heading-one,
.pricing-area .price-one .plan-action .btn-primary {
	background: #e24f43
}

.pricing-area .heading-two,
.pricing-area .price-two .plan-action .btn-primary {
	background:#27AE60;
}

.pricing-area .heading-three,
.pricing-area .price-three .plan-action .btn-primary {
	background: #f39c12;
}

.pricing-area .heading-four,
.pricing-area .price-four .plan-action .btn-primary {
	background: #5c5c5c
}

.pricing-area .heading-five,
.pricing-area .price-five .plan-action .btn-primary {
	background: #5c5c5c
}

.pricing-area .heading-six,
.pricing-area .price-six .plan-action .btn-primary {
	background: #e24f43
;
}

.pricing-area .heading-seven,
.pricing-area .price-seven .plan-action .btn-primary {
	background: #5c5c5c
}

.pricing-area .bg{
	background: #fafafa
}

.pricing-area .heading-one h3:before {
	border-color: #bf4539 transparent transparent;
}

.pricing-area .heading-two h3:before {
	border-color: #1f8c4d transparent transparent;
}

.pricing-area .heading-three h3:before {
	border-color: #d4880f transparent transparent;
}

.pricing-area .heading-four h3:before {
	border-color: #424242 transparent transparent;
}

.pricing-area .heading-five h3:before {
	border-color: #424242 transparent transparent;
}

.pricing-area .heading-six h3:before {
	border-color: #bf4539 transparent transparent;
}

.pricing-area .heading-seven h3:before {
	border-color: #424242 transparent transparent;
}

.pricing-area h3:before {
	border-color: #D4880F transparent transparent;
	border-radius: 5px 0 0 0px;
	border-style: solid;
	border-width: 12px;
	content: "";
	height: 0;
	left: 4px;
	position: absolute;
	top: 78px;
	width: 0;
	z-index: -999;
}

.small-pricing h3:after {
	height:94px;
}

.small-pricing h3:before {
	top: 74px;
}

.plan-action {
	height: 40px;
}

.pricing-area .plan-action .btn-primary {
	position: relative;
	padding:5px 20px;
	color: #fff
;
	margin-top: 5px;
}

.pricing-area .plan-action .btn-primary:before {
	border-color: #E24F43 transparent transparent;
	border-radius: 5px 0 0 0;
	border-style: solid;
	border-width: 12px;
	bottom: -12px;
	content: "";
	height: 0;
	left: -9px;
	position: absolute;
	width: 0;
	z-index: -1;
}

.pricing-area .plan-action .btn-primary:after {
	border-color: #E24F43 transparent transparent;
	border-radius: 5px 0 0 0;
	border-style: solid;
	border-width: 12px;
	bottom: -12px;
	content: "";
	height: 0;
	position: absolute;
	right: -9px;
	width: 0;
	z-index: -1;
}

.pricing-area .price-two .plan-action .btn-primary:before,
.pricing-area .price-two .plan-action .btn-primary:after {
	border-color: #1f8c4d transparent transparent;
}

.pricing-area .price-three .plan-action .btn-primary:before,
.pricing-area .price-three .plan-action .btn-primary:after {
	border-color: #d4880f transparent transparent;
}

.pricing-area .price-four .plan-action .btn-primary:before,
.pricing-area .price-four .plan-action .btn-primary:after,
.pricing-area .price-five .plan-action .btn-primary:before,
.pricing-area .price-five .plan-action .btn-primary:after,
.pricing-area .price-seven .plan-action .btn-primary:before,
.pricing-area .price-seven .plan-action .btn-primary:after  {
	border-color: #424242 transparent transparent;
	right: -9px;
}

.pricing-area .price-six .plan-action .btn-primary:before,
.pricing-area .price-six .plan-action .btn-primary:after {
	border-color: #bf4539 transparent transparent;
	right: -9px;
}


/***** Chat with Us *****/


#contact-page{
	padding-top: 0;
}

#contact-page .contact-form
.form-group label {
	color: #4E4E4E;
	font-size: 16px;
	font-weight: 300;
}

.form-group .form-control {
	padding: 7px 12px;
	border-color:#f2f2f2;
	box-shadow: none;
}

textarea#message{
	resize: none;
	padding: 10px;
}

#contact-page .contact-wrap {
	margin-top: 20px;
}

#conatcat-info{
	background: #fff url(../images/contact.png) no-repeat 90% 0;
	padding: 30px 0;
}

.contact-info i{
	width: 60px;
	height: 60px;
	font-size: 40px;
	line-height: 60px;
	color: #fff;
	background: #000;
	text-align: center;
	border-radius: 10px;
}

.contact-info h2{
	margin-top: 0;
	color: #000;
}

.contact-info{
	color:#000;
}


/***** 404 page *****/

#error .btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success:hover {
	background-color: #EBEBEB;
	border-color: #EBEBEB;
	color: #4E4E4E;
}

#error h1{
	color: #4e4e4e;
	text-transform: uppercase;
}


/***** Bottom-Line *****/

.bottom-line {
	width: auto;
	height: 30px;
	background-color: #152f44;
	margin-top: 15px;
}


/***** Footer *****/

#footer {
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
	background: black;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	color: #c52d2f;
}

#footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer ul > li {
	display: inline-block;
	margin-left: 15px;
}



/*** responsive.css ***/

/* lg */

@media (min-width: 1200px) {

	#portfolio .row {
		margin-left: -10px;
		margin-right: -10px;
	}
}

/* md */

@media (min-width: 992px) and (max-width: 1199px) {
	.recent-work-wrap .recent-work-inner h3 a {
		font-size: 20px;
	}

	.recent-work-wrap .overlay{
		padding: 15px;
	}

	#portfolio .row {
		margin-left: -10px;
		margin-right: -10px;
	}

	.recent-work-wrap .overlay .preview{
		line-height: inherit;
	}
}

/* sm */

@media (min-width: 768px) and (max-width: 991px) {
	.recent-work-wrap .overlay{
		padding: 15px;
	}

	.recent-work-wrap .recent-work-inner h3 a {
		font-size: 20px;
	}
}

/* xs */

@media (max-width: 767px) {
	.navbar-nav > li {
		padding-bottom: 0;
	}

	.portfolio-item,
	#recent-works .col-xs-12.col-sm-4.col-md-3{
		padding:0 15px;
	}
}

/* XS Portrait */
@media (max-width: 480px) {
}