.masthead {
	background-color: hsl(50, 50%, 90%);
	display: block;
	height: 250px;
}

.masthead h1{
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	color: white;
	margin-top: 40px;
}

.masthead a {
	color: white;
	text-decoration: none;
}

.masthead a:hover {
	text-decoration: none;
}

.site-title {
	margin: 0 0 1em;
	padding: 1em 0;
}

 .site-title a {
	color: white;
	text-decoration: none;
}

.site-title a:hover {
	color: white;
	text-decoration: none;
}
