/* CSS Document */

/*
	Description: personal website project—milestone-2
	Author: mariejtvigil
	Website: http://jtdesignsolutions.com
*/

/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */
/*   01 - Linked Fonts             */
/*   02 - General & Basic Styles   */
/*   03 - Header & Navigation      */






/*   01 - Linked Fonts             */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);


/*   02 - General & Basic Styles   */


body {
	padding-top: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 21px;
	font-weight: 300;
	color: #666;
	background: url(    ) fixed repeat;
}

h1 h2 {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	color: #444;
}

h1 {
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
}

h2 {
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
}


.container {
	background-color: #fff;
}



/*   03 - Header & Navigation
 bootstrap nav set-up

  */
.navbar {
	margin-bottom: 10px;
	background-color: #ffffff;

}

