/* CSS Document */

/**
*
* @author Marie Vigil <marie@jtdesignsolutions>
*
**/

/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */
/*   00 - @media                   */
/*   01 - Linked Fonts             */
/*   02 - General & Basic Styles   */
/*   03 - Header & Navigation      */
/*   04 - navbar-brand —logo area  */
/*   05 - Navbar Toggle            */
/*   06 - Image                    */
/*   07 - Scroller                 */
/*   08 - Footer                   */



/*   00 - @media

@media (max-width:800px) {
	#featured {
		display:none !important;
	}   */



/*   01 - Linked Fonts             */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);


/*   02 - General & Basic Styles   */


body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 2em;
	/*position: relative;*/
}

h1 h2 {
	font-family: 'Open Sans', sans-serif;
	color: #1990ab;
}

h1, h2, h3 {
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	margin: 0;

}



.container {
	background-color: #fff;
}

img {
	max-width: 200px;
}



/*   03 - Header & Navigation   */


header .navbar {
	padding: 30px 0;
	border: none;
	color: black;
}

.nav .navbar-nav .navbar-right a:hover {
	color: #EEC856;
}

.nav .navbar-nav .navbar-right .active a:hover {
	font-weight: 700;
	color: #EEC858;

}


/*   04 navbar-brand —logo area  */


/* 	header .navbar-brand {
background: url(../images/???);
	background-repeat: no-repeat;
	background-position: 15px 0;
	height: auto;
}
*/

/*    05 Navbar Toggle     */


header .navbar-toggle {
	background-color: #279182;
}

header .navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

@media only screen and (max-width: 768px) {

	header .navbar-collapse.in {
		background-color: rgba(0, 0, 0, .5);
	}

}


/*    06 - Image     */


.ourStory {
	width: 1000px;
	height: auto;
	margin-top: 50px;
}

.portfolio {
	width: 1000px;
	height: auto;
	margin-top: 50px;
}

.home {
	width: 1000px;
	height: auto;
	margin-top: 50px;
}

.chat-with-us {
	width: 2000px;
	height: auto;
	margin-top: 50px;
}


/*    07 - Scroller     */



/* relative positioning—allows the option of adding an edge overlays later */
#scroller {
	position: relative;
}


/* clip anything that runs over—"overflow: hidden"—position the holder to fully fill its parent, the #scroller div */
#scroller .innerScrollArea {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/* remove the default margin and padding—"position: relative" so the list items can be laid out in a horizontal row. */
#scroller ul {
	padding: 0;
	margin: 0;
	position: relative;
}


/* remove the default padding, margin and list bullets—position is set to absolute—JavaScript to set the precise left positioning value. */
#scroller li {
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: absolute;
}




/*    08 - Footer   */


footer .navbar {
	background-color: transparent;
}

.footer .navbar {
	background-color: transparent;
	margin-top: 40px;
}


