/* CSS Styles for data-design_linkedin_endorsements*/


/* Main Content */

body {
	font-family: sans-serif;
	color: gray;

}

h1 {
	font-family: sans-serif;
	color: gray;
}

h2 {
	font-family: sans-serif;
	color: rgb(149, 149, 149);
	/*color: rgb(65,184,241);*/
	font-size: 37px;
	margin-left: 25px;
	margin-top: 80px;

}

/* Top Banner
- background color behind image
- profile image
- headline
- black band
- profile name
*/

.topBanner {
	background-color: gray;
	width: auto;
	height: 212px;
	/*
	opacity: .5;
	filter: alpha(opacity=50); /* For IE8 and earlier */;
}

.topBannerHeadline {
	color: white;
	font-size: 67px;
}

.profileImage {
	border-radius: 50%;
	/*border-radius: 5px 10px 15px 20px;
	/* square top and round bottom box—top left, top right, bottom right, bottom left */
	border: solid;
	border-width: 2px;
	border-color: darkgray;
	width: 280px;
	margin-top: 49px;
	margin-left: 58px;
	margin-right: 40px;
	margin-bottom: 0px;
	background-color: white;
	vertical-align: middle;
}

.profileName {
	white-space: pre-wrap;
	color: darkgray;
	font-size: 33px;
	margin-left:377px;
	margin-top: -20px;

}

.blackBand {
	background-color: black;
	margin-top: -120px;
	width: auto;
	height: 67px;
}

/*  quote block  */

.quoteBlock {

	margin-top: 10px;
	font-size: 45px;
	color: rgb(149, 149, 149);

}

/* Section Background */

.main-container{
	background-color: rgb(4, 52, 83) ;
	/*
	opacity: .5;
	filter: alpha(opacity=50); /* For IE8 and earlier */;
	width: auto;
	height: auto;
	padding-bottom: 30px;
	margin-top: -27px;

}

/* Description blocks*/


.item1 {
	background: white;
	margin-left: 20px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-left: 30px;
	padding-bottom: 10px;
	padding-right: 30px;
	width: 70%;
	height: auto;
	text-align: left;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.toot {
	color: rgb(149, 149, 149);
	/*color: rgb(65,184,241);*/
	font-size:150px;
	margin-left: 300px;
	margin-top: 175px;


}


